In [1]:
file = "used_cars_UK.csv"

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(file)
data.head(1)

,Unnamed: 0,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history
0,0,SKODA Fabia,6900,70189,2016,3.0,Diesel,Hatchback,1.4L,Manual,5.0,5.0,Euro 6,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3685 entries, 0 to 3684
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         3685 non-null   int64
 1   title              3685 non-null   object
 2   Price              3685 non-null   int64
 3   Mileage(miles)     3685 non-null   int64
 4   Registration_Year  3685 non-null   int64
 5   Previous Owners    2276 non-null   float64
 6   Fuel type          3685 non-null   object
 7   Body type          3685 non-null   object
 8   Engine             3640 non-null   object
 9   Gearbox            3685 non-null   object
 10  Doors              3660 non-null   float64
 11  Seats              3650 non-null   float64
 12  Emission Class     3598 non-null   object
 13  Service history    540 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 403.2+ KB

In [5]:
data.describe()

,Unnamed: 0,Price,Mileage(miles),Registration_Year,Previous Owners,Doors,Seats
count,3685.000000,3685.000000,3.685000e+03,3685.000000,2276.000000,3660.000000,3650.000000
mean,2314.770963,5787.145726,8.132816e+04,2011.835007,2.807557,4.321038,4.900274
std,1415.821308,4480.810572,3.942083e+04,5.092566,1.546028,0.986902,0.577200
min,0.000000,400.000000,1.000000e+00,1953.000000,1.000000,2.000000,2.000000
25%,1059.000000,2490.000000,5.698400e+04,2008.000000,2.000000,3.000000,5.000000
50%,2279.000000,4000.000000,8.000000e+04,2012.000000,3.000000,5.000000,5.000000
75%,3593.000000,7995.000000,1.030000e+05,2015.000000,4.000000,5.000000,5.000000
max,4727.000000,33900.000000,1.110100e+06,2023.000000,9.000000,5.000000,7.000000

In [6]:
data.columns

Index(['Unnamed: 0', 'title', 'Price', 'Mileage(miles)', 'Registration_Year',
       'Previous Owners', 'Fuel type', 'Body type', 'Engine', 'Gearbox',
       'Doors', 'Seats', 'Emission Class', 'Service history'],
      dtype='object')

In [8]:
data.title
data['title'] = data['title'].astype(str)

data[['brand', 'model']] = data['title'].str.split(pat=' ', n=1, expand=True)

In [9]:
import pandas as pd


# Renaming columns
data.columns = data.columns.str.lower().str.replace(' ', '_')  # Convert to lowercase and replace spaces with underscores
data.rename(columns={
    'mileage(miles)': 'miles', 
    'registration_year': 'year'
}, inplace=True)

# Display the renamed columns
print(data.columns)

Index(['unnamed:_0', 'title', 'price', 'miles', 'year', 'previous_owners',
       'fuel_type', 'body_type', 'engine', 'gearbox', 'doors', 'seats',
       'emission_class', 'service_history', 'brand', 'model'],
      dtype='object')

In [10]:
max_year = data['year'].max()
data['age'] = max_year - data['year']

In [11]:
data['service_history'] = data['service_history'].notna()

In [12]:
data.shape

(3685, 17)

In [13]:
data.isnull().sum()

unnamed:_0            0
title                 0
price                 0
miles                 0
year                  0
previous_owners    1409
fuel_type             0
body_type             0
engine               45
gearbox               0
doors                25
seats                35
emission_class       87
service_history       0
brand                 0
model                 0
age                   0
dtype: int64

In [14]:
missing_values = data.isnull().sum()

# Filter to display only columns with missing values
missing_values = missing_values[missing_values > 0]

# Display the filtered result

In [22]:
print("Unique titles with missing 'engine':")
print(data[data['engine'].isna()][['year', 'title']].drop_duplicates(), "\n")

# Print unique rows with missing 'doors', showing only 'year' and 'title'
print("Unique titles with missing 'doors':")
print(data[data['doors'].isna()][['year', 'title']].drop_duplicates(), "\n")

# Print unique rows with missing 'seats', showing only 'year' and 'title'
print("Unique titles with missing 'seats':")
print(data[data['seats'].isna()][['year', 'title']].drop_duplicates(), "\n")

Unique titles with missing 'engine':
      year               title
677   2007        BMW 3 Series
833   2021       Toyota Mark X
854   2007        Nissan Cubic
1085  2012             Audi A1
1302  2015        Mazda Mazda6
1427  2009          Ford Focus
1531  2015          Citroen C1
1617  2007             Ford KA
2020  2012             Audi A3
2134  2012        Toyota Prius
2192  2021         Mazda MX-30
2286  2014         Nissan Leaf
2521  2015           Fiat 500L
2717  2014  Vauxhall Astra GTC
3029  2014     Vauxhall Ampera
3570  2001       Isuzu Trooper
3621  2020      Vauxhall Corsa

Unique titles with missing 'doors':
      year               title
511   2012      Nissan Lafesta
593   2015      Vauxhall Astra
677   2007        BMW 3 Series
697   2001      Mitsubishi FTO
821   2012     Volkswagen Polo
833   2021       Toyota Mark X
854   2007        Nissan Cubic
955   2017      Nissan Elgrand
1036  2013          Honda Jazz
1056  2011     Volkswagen Polo
1302  2015        Mazda Mazda6
1531  2015          Citroen C1
1611  2001     Volkswagen Golf
1617  2007             Ford KA
1955  2011           Jaguar XJ
2020  2012             Audi A3
2134  2012        Toyota Prius
2373  1981      Marcos Martina
2510  2003      Mitsubishi GTO
2521  2015           Fiat 500L
2717  2014  Vauxhall Astra GTC
2760  2010           Honda FIT

Unique titles with missing 'seats':
      year                 title
8     1989             Volvo 740
106   1995            Citroen XM
227   1991     Mercedes-Benz 260
235   1972             MG Midget
511   2012        Nissan Lafesta
643   1990            Rover Mini
677   2007          BMW 3 Series
697   2001        Mitsubishi FTO
731   1990          Toyota Camry
821   2012       Volkswagen Polo
833   2021         Toyota Mark X
854   2007          Nissan Cubic
929   1999          BMW 3 Series
1004  1992              Saab 900
1051  1996       Volkswagen Golf
1237  1985          Nissan Sunny
1302  2015          Mazda Mazda6
1351  1987          BMW 3 Series
1379  1990            Citroen BX
1531  2015            Citroen C1
1615  2017             SEAT Leon
1617  2007               Ford KA
1861  2015          BMW 5 Series
2020  2012               Audi A3
2024  1995         Proton Proton
2134  2012          Toyota Prius
2454  2010        Vauxhall Combo
2510  2003        Mitsubishi GTO
2521  2015             Fiat 500L
2717  2014    Vauxhall Astra GTC
3022  1953  Lagonda LG6 Roadster
3114  1988       Volkswagen Golf
3462  1991         Toyota Carina
3675  1995             Rover 800

In [23]:
# Filling missing values using forward fill and backward fill grouped by 'model'
data['engine'] = data.groupby('model')['engine'].apply(lambda x: x.ffill().bfill())
data['doors'] = data.groupby('model')['doors'].apply(lambda x: x.ffill().bfill())
data['seats'] = data.groupby('model')['seats'].apply(lambda x: x.ffill().bfill())

/var/folders/sw/wnh5xb2s66v5ljpzzgr4xznc0000gn/T/ipykernel_923/1553893411.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['engine'] = data.groupby('model')['engine'].apply(lambda x: x.ffill().bfill())

TypeError: incompatible index of inserted column with frame index

In [24]:
unique_values = data['emission_class'].unique()
print("Unique values before cleaning:", unique_values)

# Step 2: Standardize the emission class values
# Strip whitespace, convert to lower case, and standardize format
# Using 'transform' ensures that the assignment is made to the same index
data['emission_class'] = data['emission_class'].transform(
    lambda x: x.strip().lower().replace('euro', 'Euro') if pd.notna(x) else 'Unknown'
)

# Step 3: Check the cleaned unique values
cleaned_values = data['emission_class'].unique()
print("Unique values after cleaning:", cleaned_values)

# Display the cleaned DataFrame
print(data)

Unique values before cleaning: ['Euro 6' 'Euro 4' 'Euro 5' nan 'Euro 3' 'Euro 2' 'Euro 1']
Unique values after cleaning: ['Euro 6' 'Euro 4' 'Euro 5' 'Unknown' 'Euro 3' 'Euro 2' 'Euro 1']
      unnamed:_0           title  price   miles  year  previous_owners  \
0              0     SKODA Fabia   6900   70189  2016              3.0
1              1  Vauxhall Corsa   1495   88585  2008              4.0
2              2     Hyundai i30    949  137000  2011              NaN
3              3      MINI Hatch   2395   96731  2010              5.0
4              4  Vauxhall Corsa   1000   85000  2013              NaN
...          ...             ...    ...     ...   ...              ...
3680        4723  Renault Megane   1395   76202  2006              4.0
3681        4724         Audi A4   6990  119000  2012              NaN
3682        4725    BMW 3 Series   3995  139000  2013              NaN
3683        4726    Honda Accord   1390  179190  2007              NaN
3684        4727  Vauxhall Corsa   2000   82160  2013              7.0

     fuel_type  body_type engine gearbox  doors  seats emission_class  \
0       Diesel  Hatchback   1.4L  Manual    5.0    5.0         Euro 6
1       Petrol  Hatchback   1.2L  Manual    3.0    5.0         Euro 4
2       Petrol  Hatchback   1.4L  Manual    5.0    5.0         Euro 5
3       Petrol  Hatchback   1.4L  Manual    3.0    4.0         Euro 4
4       Diesel  Hatchback   1.3L  Manual    5.0    5.0         Euro 5
...        ...        ...    ...     ...    ...    ...            ...
3680    Petrol  Hatchback   1.6L  Manual    5.0    5.0         Euro 4
3681    Petrol     Saloon   2.0L  Manual    4.0    5.0         Euro 5
3682    Diesel     Saloon   2.0L  Manual    4.0    5.0         Euro 5
3683    Diesel     Estate   2.2L  Manual    5.0    5.0         Euro 4
3684    Petrol  Hatchback   1.2L  Manual    5.0    5.0         Euro 5

      service_history     brand     model  age
0               False     SKODA     Fabia    7
1                True  Vauxhall     Corsa   15
2               False   Hyundai       i30   12
3                True      MINI     Hatch   13
4               False  Vauxhall     Corsa   10
...               ...       ...       ...  ...
3680            False   Renault    Megane   17
3681            False      Audi        A4   11
3682            False       BMW  3 Series   10
3683             True     Honda    Accord   16
3684            False  Vauxhall     Corsa   10

[3685 rows x 17 columns]

In [25]:
na_rows = data[data.isnull().any(axis=1)]

In [26]:
data["previous_owners"].unique()

import pandas as pd

# Replace NA/None with 0 in the 'previous_owners' column
data['previous_owners'] = data['previous_owners'].fillna(0)

In [27]:
data["engine"].unique()

array(['1.4L', '1.2L', '1.3L', '2.0L', '1.6L', '2.3L', '1.8L', '1.0L',
       '3.0L', '1.5L', '1.9L', '2.4L', '2.2L', '3.5L', '3.2L', '2.5L',
       '1.1L', '3.1L', '3.7L', '2.6L', '2.1L', '2.8L', '5.0L', '0.8L',
       '2.7L', '1.7L', '0.9L', '4.2L', nan, '4.4L', '4.3L', '3.3L',
       '5.5L', '4.8L', '6.3L'], dtype=object)

In [28]:
data.dtypes

unnamed:_0           int64
title               object
price                int64
miles                int64
year                 int64
previous_owners    float64
fuel_type           object
body_type           object
engine              object
gearbox             object
doors              float64
seats              float64
emission_class      object
service_history       bool
brand               object
model               object
age                  int64
dtype: object

In [172]:
data.nunique()

unnamed:_0         3685
title               469
price               866
miles              1570
year                 40
previous_owners      10
fuel_type             6
body_type            10
engine               34
gearbox               2
doors                 4
seats                 6
emission_class        7
service_history       2
brand                48
model               467
age                  40
dtype: int64

In [173]:
data.duplicated().sum()

0

In [29]:
data_merged = data.merge(engine_data[['Index', 'Engine Size (L)']], on='Index', how='left')
data_merged['Engine Size (L)'] = data_merged['Engine Size (L)_x'].fillna(data_merged['Engine Size (L)_y'])

# Dropping the extra columns created during the merge
data_merged = data_merged.drop(columns=['Engine Size (L)_x', 'Engine Size (L)_y'])

# Merging with the door_data to fill in missing door values
data_merged = data_merged.merge(door_data[['Index', 'Doors']], on='Index', how='left')
data_merged['Doors'] = data_merged['Doors_x'].fillna(data_merged['Doors_y'])

# Dropping the extra columns created during the merge
data_merged = data_merged.drop(columns=['Doors_x', 'Doors_y'])

# Merging with the seat_data to fill in missing seat values
data_merged = data_merged.merge(seat_data[['Index', 'Seats']], on='Index', how='left')
data_merged['Seats'] = data_merged['Seats_x'].fillna(data_merged['Seats_y'])

# Dropping the extra columns created during the merge
data_merged = data_merged.drop(columns=['Seats_x', 'Seats_y'])

TypeError: unhashable type: 'list'

In [159]:
df_engine_sizes = pd.read_csv("/data/car_engine_sizes.csv")
df_doors = pd.read_csv("/data/car_doors.csv")
df_seats = pd.read_csv("/data/car_seats.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/mnt/data/car_engine_sizes.csv'

In [34]:

engine_data = {
    "index": [677, 833, 854, 1085, 1302, 1427, 1531, 1617, 2020, 2134, 2192, 2286, 2521, 2717, 3029, 3570, 3621],
    "year": [2007, 2021, 2007, 2012, 2015, 2009, 2015, 2007, 2012, 2012, 2021, 2014, 2015, 2014, 2014, 2001, 2020],
    "title": [
        "BMW 3 Series", "Toyota Mark X", "Nissan Cubic", "Audi A1", "Mazda Mazda6", 
        "Ford Focus", "Citroen C1", "Ford KA", "Audi A3", "Toyota Prius", 
        "Mazda MX-30", "Nissan Leaf", "Fiat 500L", "Vauxhall Astra GTC", 
        "Vauxhall Ampera", "Isuzu Trooper", "Vauxhall Corsa"
    ],
    "engine": [
        "2.0", "2.5", "1.5", "1.4", "2.5", 
        "1.6", "1.0", "1.3", "1.8", "1.8 Hybrid", 
        "Electric", "Electric", "1.4", "1.6", 
        "1.4 Hybrid", "3.0", "1.2"
    ]
}

csv_path = "/Users/Pato/Dev/Data_Templates/data/engine_data.csv"
engine_data = pd.DataFrame(engine_data)
engine_data.to_csv(csv_path, index=False)

OSError: Cannot save file into a non-existent directory: '/data'

In [16]:
door_data = {
    "index": [511, 593, 677, 697, 821, 833, 854, 955, 1036, 1056, 1302, 1531, 1611, 1617, 1955, 2020, 2134, 2373, 2510, 2521, 2717, 2760],
    "year": [2012, 2015, 2007, 2001, 2012, 2021, 2007, 2017, 2013, 2011, 2015, 2015, 2001, 2007, 2011, 2012, 2012, 1981, 2003, 2015, 2014, 2010],
    "model": [
        "Nissan Lafesta", "Vauxhall Astra", "BMW 3 Series", "Mitsubishi FTO", "Volkswagen Polo", 
        "Toyota Mark X", "Nissan Cubic", "Nissan Elgrand", "Honda Jazz", "Volkswagen Polo", 
        "Mazda Mazda6", "Citroen C1", "Volkswagen Golf", "Ford KA", "Jaguar XJ", 
        "Audi A3", "Toyota Prius", "Marcos Martina", "Mitsubishi GTO", "Fiat 500L", 
        "Vauxhall Astra GTC", "Honda FIT"
    ],
    "doors": [
        5, 5, 4, 2, 5, 
        4, 5, 5, 5, 5, 
        4, 3, 5, 3, 4, 
        5, 5, 2, 2, 5, 
        3, 5
    ]
}

csv_path = "/Users/Pato/Dev/Data_Templates/data/door_data.csv"
door_data = pd.DataFrame(door_data)
door_data.to_csv(csv_path, index=False)

In [33]:
seat_data = {
    "index": [8, 106, 227, 235, 511, 643, 677, 697, 731, 821, 833, 854, 929, 1004, 1051, 1237, 1302, 1351, 1379, 1531, 
              1615, 1617, 1861, 2020, 2024, 2134, 2454, 2510, 2521, 2717, 3022, 3114, 3462, 3675],
    "year": [1989, 1995, 1991, 1972, 2012, 1990, 2007, 2001, 1990, 2012, 2021, 2007, 1999, 1992, 1996, 1985, 2015, 1987, 
             1990, 2015, 2017, 2007, 2015, 2012, 1995, 2012, 2010, 2003, 2015, 2014, 1953, 1988, 1991, 1995],
    "model": [
        "Volvo 740", "Citroen XM", "Mercedes-Benz 260", "MG Midget", "Nissan Lafesta", "Rover Mini", "BMW 3 Series", 
        "Mitsubishi FTO", "Toyota Camry", "Volkswagen Polo", "Toyota Mark X", "Nissan Cubic", "BMW 3 Series", 
        "Saab 900", "Volkswagen Golf", "Nissan Sunny", "Mazda Mazda6", "BMW 3 Series", "Citroen BX", "Citroen C1", 
        "SEAT Leon", "Ford KA", "BMW 5 Series", "Audi A3", "Proton Proton", "Toyota Prius", "Vauxhall Combo", 
        "Mitsubishi GTO", "Fiat 500L", "Vauxhall Astra GTC", "Lagonda LG6 Roadster", "Volkswagen Golf", "Toyota Carina", 
        "Rover 800"
    ],
    "seats": [
        5, 5, 5, 2, 7, 4, 5, 2, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 
        5, 4, 5, 5, 5, 5, 2, 2, 5, 4, 2, 5, 5, 5
    ]
}

csv_path = "/Users/Pato/Dev/Data_Templates/data/seat_data.csv"
seat_data.to_csv(csv_path, index=False)

AttributeError: 'dict' object has no attribute 'to_csv'